.auth_btn {
  color: black;
  margin-right: 1rem;
  background-color: rgba(255, 255, 255, 0.238);
  backdrop-filter: blur(5px);
  font-weight: bold;
  color: var(--primary-color);
  padding: 0.7rem;
}

body {
  background-color: black;
  color: var(--primary-color);
}

.navbar_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: sticky;
  background-color: rgba(255, 255, 255, 0.185);
  backdrop-filter: blur(8px);
  top: 0;
  z-index: 2;
}

.header {
  margin-left: 1rem;
  color: var(--primary-color);
}

.auth_btn:hover {
  color: black;
  background-color: var(--primary-color);
}
