:root {
  --primary-color: rgb(0, 229, 255);
}

.text-decoration-none {
  text-decoration: none;
  color: var(--primary-color);
}

body { 
  background: url("./assets/luke-chesser-pJadQetzTkI-unsplash.jpg") no-repeat 
    center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.outline-button {
  background-color: black;
  width: 5rem;
  font-size: 1rem;
}

.outline-button:hover {
  background-color: var(--primary-color);
  color: black;
}

.solid-button:hover{
  background-color: var(--primary-color);
}